/* Scroll Bar Custom Design */

::-webkit-scrollbar {
    width: 12px;
    right: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(89, 127, 216);
    border-radius: 20px;
}

.nav-list li {
    margin: 24px;
}

.nav-res {
    list-style: none;
    background-color: white;
    color: black;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1.5s;
}

.nav-res-hidden {
    list-style: none;
    background-color: black;
    color: black;
    transition-duration: 1.5s;
}

.nav-style-md {
    display: flex;
}


.text-stroke {
    -webkit-text-stroke: 2px #949090;
    color: transparent;
    opacity: 0.4;
}

.text-stroke:hover {
    -webkit-text-fill-color: #949090;
    -webkit-text-stroke: 0px;
}

.text-strokeTitle {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    opacity: 0.4;
}

.text-strokeTitle:hover {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 0px;
}

/* Mouse Scroll Animation Style */
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 150px;
    bottom: 8px;
}

.mouse-scroll,
.mouse-scroll::before {
    position: absolute;
    left: 50%;
    transform: translateX(-5%);
}

.mouse-scroll {
    width: 40px;
    height: 70px;
    border: 4px solid #949090;
    border-radius: 25px;
    cursor: pointer;
    z-index: 20;
}

.mouse-scroll::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #fff;
    margin-left: -9px;
    top: 10px;
    border-radius: 50%;
    animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

.icon-card:hover .icon-color {
    color: #0A6BCA;
}

.icon-card:hover .whatsapp {
    color: #2bb741;
}

.icon-card:hover .telegram {
    color: #2a9cd4;
}

.icon-card:hover .email {
    color: #ea3f41;
}


@keyframes scroll {
    0% {
        opacity: 4;
        transform: translateY(10px) scale(0.5);
    }

    10% {
        opacity: 1;
        transform: scale(0.5);
    }

    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}

.bannerText {
    position: absolute;
}


/* My Expertise sections styles */
.skills-style p {
    background-color: black;
    opacity: 90%;
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Mouse Scroll Animation Style for Phone Responsive */

@media screen and (max-width: 320px) {
    .bannerText {
        top: 248px;
        font-size: 37px;
    }

    .text-stroke {
        -webkit-text-fill-color: #949090;
        opacity: 0.4;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
    .bannerText {
        top: 270px;
        font-size: 43px;
    }

    .text-stroke {
        -webkit-text-fill-color: #949090;
        opacity: 0.4;
    }
}

@media screen and (min-width: 377px) and (max-width: 425px) {
    .bannerText {
        top: 295px;
        font-size: 48px;
    }

    .text-stroke {
        -webkit-text-fill-color: #949090;
        opacity: 0.4;
    }

    .text-strokeTitle {
        -webkit-text-stroke: 2px #fff;
        -webkit-text-fill-color: #fff;
    }

    .title-position {
        top: 10px;
        font-size: 68px;
    }


    .container {
        left: -16px;
    }

    .mouse-scroll {
        width: 30px;
        height: 50px;
    }

    .mouse-scroll::before {
        top: 5px;
    }

    /* @keyframes scroll {
        0% {
            opacity: 4;
            transform: translateY(15px) scale(0.4);
        }

        10% {
            opacity: 1;
            transform: scale(0.5);
        }

        100% {
            opacity: 0;
            transform: translateY(10px) scale(0.5);
        }
    } */
}